<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <title>城南花已开</title>
    <meta name="viewport" content="width=device-width, initial-scale=1  maximum-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="HandheldFriendly" content="True">

    <link rel="stylesheet" href="/static/blog/iconfonts1/iconfont/iconfont.css">

    <link rel="stylesheet" href="/static/blog/iconfonts1/iconfont02/iconfont.css">
    <link rel="stylesheet" href="/static/blog/iconfonts1/iconfont03/iconfont.css">
    <link type="text/css" rel="stylesheet" href="/static/blog/css/bootstrap.css">
    <script type="text/javascript" src="/static/blog/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/blog/js/jquery-2.1.4.js"></script>
    <link rel="stylesheet" href="/static/blog/css/materialize.css">
    <link rel="stylesheet" href="/static/blog/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/blog/css/normalize.css">
    <link rel="stylesheet" href="/static/blog/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/blog/css/owl.theme.css">
    <link rel="stylesheet" href="/static/blog/css/owl.transitions.css">
    <link rel="stylesheet" href="/static/blog/css/fakeLoader.css">
    <link rel="stylesheet" href="/static/blog/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/blog/css/style.css">
    <link rel="shortcut icon" href="/static/blog/img/favicon.png">
</head>
<body>


<!-- navbar top -->
<div class="navbar-top">
    <div class="side-nav-panel-left">
        <a href="#" data-activates="slide-out-left" class="side-nav-left"><i class="fa fa-bars"></i></a>
    </div>
    <!-- site brand	 -->
    <div class="site-brand">
        <a href=""><h1>博客主页</h1></a>
    </div>
    <!-- end site brand	 -->
    <div class="side-nav-panel-right">
        <a href="contact.html" class="side-nav-right"></a>
    </div>
</div>
<!-- end navbar top -->

<!-- side nav left-->
<div class="side-nav-panel-left">
    <ul id="slide-out-left" class="side-nav side-nav-panel collapsible">
        <li class="profil">
            {% if user.is_authenticated %}
            <img src="/{{ user.users.headers }}" alt="">
            <h2>{{ user.username }}</h2>
            <h6>愿若常安好，城南花已开</h6>
            {% else %}
            <img src="Hyblog/blog/static/blog/img/profile.jpg" alt="">
            <h2>城南花已开</h2>
            <h6>愿若常安好，城南花已开</h6>
            {% endif %}
        </li>
        <li><a href="{% url 'blog:index' %}"><i class="fa fa-home"></i>主页</a></li>
        <li>
            {% if user.is_authenticated %}
            <div class="collapsible-header"><i class="fa fa-bold"></i>博客<span><i class="fa fa-caret-down"></i></span>
            </div>
            <div class="collapsible-body">
                <ul class="side-nav-panel">
                    <li><a href="{% url 'blog:article_list' %}">个人博客</a></li>
                    <li><a href="{% url 'blog:article_add' %}">写博客</a></li>
                </ul>
            </div>
            {% else %}
        <li><a href="{% url 'blog:user_login' %}" onclick="return window.confirm('您还没有注册登录，请先去登录')"><i
                class="fa fa-sign-in"></i>博客</a></li>
        {% endif %}
        </li>
        <li>
            {% if user.is_authenticated %}
            <div class="collapsible-header"><i class="fa fa-file-o"></i>操作<span><i class="fa fa-caret-down"></i></span>
            </div>
            <!-- 如果用户已经登录，则显示用户名下拉框 -->
            <div class="collapsible-body">
                <ul class="side-nav-panel">
                    <li><a href="{% url 'blog:user_list' %}">个人中心</a></li>
                    <li><a href="{% url 'blog:user_pass' %}">修改密码</a></li>
                    <li><a href="{% url 'blog:user_logout'%}">退出</a></li>
                </ul>
            </div>
            <!-- 如果用户未登录，则显示 “登录” -->
            {% else %}
        <li><a href="{% url 'blog:user_login' %}"><i class="fa fa-sign-in"></i>登录</a></li>
        {% endif %}
        </li>
        <li><a href="/blog/register/"><i class="fa fa-user-plus"></i>注册</a></li>
    </ul>
</div>
<!-- end side nav left-->
<!-- blog -->
<div class="pages section">
    <div class="container">
        <div class="blog">
            {% for i in articles %}
            <div class="row">
                <div class="col s12">
                    <div class="blog-content">
                        <div class="blog-detailt">
                            {% if user.is_authenticated %}
                            <h5><a href="/blog/detail/{{i.id}}">{{i.title}}</a></h5>
                            {% else %}
                            <h5><a href="{% url 'blog:user_login' %}" onclick="return window.confirm('您还没有注册登录，请先去登录')">{{i.title}}</a>
                            </h5>
                            {% endif %}
                            <div class="date">
                                <span>上传时间</span>
                                <span><i class="fa fa-calendar"></i>{{i.starTime}}</span><br>
                                <span>修改时间</span>
                                <span><i class="fa fa-calendar"></i>{{i.updateTime}}</span>
                            </div>
                            <p>{{i.content}}</p>


                            <img src="/{{ i.author.users.headers }}"
                                 style="height: 130px;width: 130px;float:right ;bottom: 30px; position: relative;"
                                 alt="找不到" class="img-rounded"><br>
                            <span style="height: 74px;width: 27px;"></span>
                            <div>
                                <span class="iconfont  iconwode"> 作者: {{i.author.username}}</span>
                            </div>
                            <div><span class="iconfont iconxiaoxi"> 评论数: {{i.comments.count}}</span>
                                <span>    </span>
                                <span class="iconfont iconicon_likegood"> 点赞数: {{i.comments.count}}</span></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <a href="{% url 'blog:article_add' %}" class="btn btn-warning"
               onclick="return window.confirm('您还没有写博客，去写博客？')">写博客</a>
            {% endfor %}
            <div class="row">
                <div class="col s12">
                    <div class="pagination-blog">
                        <ul>
                            <a href="/blog/index/?pagenum=1">首页</a>
                            {% if articles.has_previous %}
                            <a href="/blog/index/?pagenum={{articles.previous_page_number}}">上一页</a>
                            {% endif %}
                            {% for i in pagin1.page_range %}
                            <a href="/blog/index/?pagenum={{i}}">
                                <li>{{i}}</li>
                            </a>
                            {% endfor %}
                            {% if articles.has_next %}
                            <a href="/blog/index/?pagenum={{articles.next_page_number}}">下一页</a>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end blog -->


<p style="height:200px"></p>


<!-- loader -->
<div id="fakeLoader"></div>
<!-- end loader -->

<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="about-us-foot">
            <h6>MAUDE</h6>
            <p>is a lorem ipsum dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit.</p>
        </div>
        <div class="social-media">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-google"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
        </div>
        <div class="copyright">
            <span>© 2018 All Right Reserved</span>
        </div>
    </div>
</div>
<!-- end footer -->

<!-- scripts -->


<script src="/static/blog/js/jquery.min.js"></script>
<script src="/static/blog/js/materialize.min.js"></script>
<script src="/static/blog/js/owl.carousel.min.js"></script>
<script src="/static/blog/js/fakeLoader.min.js"></script>
<script src="/static/blog/js/main.js"></script>


</body>
</html>
